{
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "node": true,
    "jest": true
  },
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "react", "react-hooks", "prettier"],
  "extends": [
    "plugin:react/recommended",
    "@kos/styleguide/comment",
    "@kos/styleguide/es3",
    "@kos/styleguide/es2015",
    "@kos/styleguide/typescript"
  ],
  "rules": {
    // https://github.daumkakao.com/webtech/styleguide/blob/develop/typescript/README.md
    // for react
    "react/prop-types": "warn",
    "react/display-name": "warn",
    // FIXME 추후 error 로 변경 예정
    "react-hooks/rules-of-hooks": "warn",
    // FIXME 추후 error 로 변경 예정
    "react-hooks/exhaustive-deps": "warn",
    "react/no-find-dom-node": "warn",
    // stylistic issues
    "@typescript-eslint/prefer-as-const": "warn",
    "object-curly-spacing": "off",
    "space-before-function-paren": "off",
    "implicit-arrow-linebreak": "off",
    "@typescript-eslint/naming-convention": "off",
    "@typescript-eslint/no-use-before-define": "off",
    "comma-dangle": ["error", "only-multiline"],
    // posibble errors
    "@typescript-eslint/dot-notation": "off",
    "@typescript-eslint/no-magic-numbers": "off",
    "@typescript-eslint/no-shadow": "off",
    // FIXME 추후 error 로 변경 예정
    "@typescript-eslint/no-explicit-any": "warn",
    // jsdoc: https://github.daumkakao.com/webtech/styleguide/tree/develop/comment
    "jsdoc/require-param": "off",
    "jsdoc/require-param-type": "off",
    "jsdoc/require-param-description": "off",
    "jsdoc/check-param-names": "warn",
    "jsdoc/require-returns": "off",
    "jsdoc/require-returns-description": "off",
    "jsdoc/check-indentation": "off",
    "arrow-body-style": "off",
    // best Practices
    "@typescript-eslint/no-unused-vars": "warn",
    "no-confusing-arrow": "off",
    "prefer-destructuring": "off",
    "@typescript-eslint/no-empty-interface": "warn",
    "node/handle-callback-err": "warn",
    // 기존 legacy 구성들
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
    "react/prefer-stateless-function": "off",
    "react/jsx-indent": "off",
    "global-require": "off",
    "react/jsx-first-prop-new-line": "off",
    "import/no-duplicates": "off",
    "no-duplicate-imports": "off",
    "newline-per-chained-call": "off",
    "no-underscore-dangle": "off",
    "import/no-unresolved": "off",
    "object-curly-newline": "off",
    "react/destructuring-assignment": "off",
    "react/jsx-filename-extension": "off",
    "react/jsx-max-props-per-line": "off",
    "react/require-default-props": "off",
    "react/jsx-one-expression-per-line": "off",
    "react/jsx-wrap-multilines": "off",
    "react/no-array-index-key": "off",
    "react/no-string-refs": "off",
    "react/no-access-state-in-setstate": "off",
    "react/no-unused-prop-types": "off",
    "react/button-has-type": "off",
    "class-methods-use-this": "off",
    "operator-linebreak": "off",
    "arrow-parens": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "import/order": "off",
    "function-paren-newline": "off",
    "import/no-useless-path-segments": "off",
    "lines-between-class-members": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    "no-else-return": "off",
    "object-property-newline": "off",
    "space-unary-ops": "off",
    "jsx-a11y/alt-text": "off",
    "indent": "off",
    "react/jsx-no-target-blank": "off",
    "react/self-closing-comp": "off",
    "jsx-a11y/label-has-associated-control": "off",
    "jsx-a11y/label-has-for": "off",
    "react/jsx-closing-tag-location": "off",
    "react/default-props-match-prop-types": "off",
    "no-extra-boolean-cast": "off",
    "react/no-unused-state": "off",
    "react/jsx-curly-brace-presence": "off",
    "no-restricted-globals": "off",
    "no-console": "off",
    "no-alert": "off",
    "padded-blocks": "off",
    "jsx-a11y/no-autofocus": "off",
    "operator-assignment": "off",
    "no-multiple-empty-lines": "off",
    "no-tabs": "off",
    "prefer-const": "off",
    "no-mixed-operators": "off",
    "no-prototype-builtins": "off",
    "jsx-a11y/mouse-events-have-key-events": "off",
    "no-useless-return": "off",
    "react/jsx-curly-spacing": "off",
    "no-lonely-if": "off",
    "react/no-typos": "off",
    "no-undef-init": "off",
    "react/no-children-prop": "off",
    "spaced-comment": "off",
    "react/no-unescaped-entities": "off",
    "react/forbid-prop-types": "off",
    "import/prefer-default-export": "off",
    "prefer-promise-reject-errors": "off",
    "no-plusplus": "off",
    "no-bitwise": "off",
    "no-restricted-properties": "off",
    "no-useless-escape": "off",
    "import/newline-after-import": "off",
    "import/first": "off",
    "import/named": "off",
    "no-control-regex": "off",
    "jsx-a11y/media-has-caption": "off",
    "react/style-prop-object": "off",
    "react/jsx-tag-spacing": "off",
    "comma-style": "off",
    "jsx-a11y/iframe-has-title": "off",
    "react/sort-comp": "off",
    "no-restricted-syntax": "off",
    "react/no-redundant-should-component-update": "off",
    "import/no-named-as-default-member": "off",
    "import/no-extraneous-dependencies": "off",
    "no-unused-vars": "off",
    "import/no-named-as-default": "off",
    "no-continue": "off",
    "jsx-a11y/no-noninteractive-tabindex": "off",
    "react/jsx-props-no-multi-spaces": "off",
    "jsx-a11y/no-noninteractive-element-interactions": "off",
    "react/no-danger": "off",
    "import/no-cycle": "off",
    "react/jsx-no-bind": "off",
    "no-return-assign": "off",
    "no-shadow": "off",
    "@typescript-eslint/member-ordering": "off",
    "@typescript-eslint/indent": "off",
    "new-cap": "off",
    // 현재 프로젝트 상황에 맞게 erro -> warn 으로 override
    "no-constant-binary-expression": "warn",
    "@typescript-eslint/no-redundant-type-constituents": "warn"
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    },
    "project": ["./tsconfig.json"]
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "overrides": [
    {
      "files": ["./**/*.js"],
      "extends": ["plugin:@typescript-eslint/disable-type-checked"],
      "rules": {
        "@typescript-eslint/no-var-requires": "off"
      }
    }
  ],
  "globals": {
    "__DEV__": true,
    "__FCM_APPLICATION_SERVER_KEY__": true,
    "__PHASE__": true,
    "__KAKAO_ACCOUNTS_URL__": true,
    "__KAKAO_ACCOUNTS_AUTH_FROM__": true,
    "__VIDEO_UPLOAD_HOST__": true,
    "__VIDEO_UPLOAD_URL__": true,
    "__VIDEO_PLAYER_URL__": true,
    "__STORE_HOST__": true,
    "__STORE_SELL_HOST__": true,
    "__STORE_MALL_HOST__": true,
    "__ORDER_HOST__": true,
    "__CREATOR_CENTER_HOST__": true,
    "__RESERVATION_PARTNER_HOST__": true,
    "__RESERVATION_HOST__": true,
    "__CHECKOUT_STORE_HOST__": true,
    "__CHECKOUT_STORE_URL__": true,
    "__WINTERFELL_STORE_URL__": true,
    "__STORE_COUPON_URL__": true,
    "__BIZ_ACCOUNT_CENTER_URL__": true,
    "__PLUS_FRIEND_WEB_HOST__": true,
    "__YELLOW_ID_HOST__": true,
    "__CENTER_URL__": true,
    "__KAGE_HOST__": true,
    "__TENTH_T1_HOST__": true,
    "__TENTH_IMAGE_HOST__": true,
    "__GIT_HASH__": true,
    "__WS_HOST__": true,
    "__WEBSOCKET_ENDPOINT__": true,
    "__USER_GUIDE_URL__": true,
    "__KISA_GUIDE_URL__": true,
    "__KAKAO_FIY_URL__": true,
    "__CS_CENTER_CHATBOT_URL__": true,
    "__MELON_URL__": true,
    "__MELON_MESSAGE_LINK_ENABLED__": true,
    "__KAUTH_URL__": true,
    "__AUTH_URL__": true,
    "__KAUTH_APP_KEY__": true,
    "__DEVELOPERS_URL__": true,
    "__CRUX_BIZ_URL__": true,
    "__BIZ_CENTER_URL__": true,
    "__BIZ_CENTER_ACCOUNT_URL__": true,
    "__BIZ_MESSAGE_URL__": true,
    "__KAKAO_MOMENT_URL__": true,
    "__KAKAO_STORY_URL__": true,
    "__KAKAO_SHOPPING_URL__": true,
    "__KAKAO_WITH_URL__": true,
    "__KAKAO_CHECK_OUT_URL__": true,
    "__KAKAO_ORDER_URL__": true,
    "__STORE_SIXSHOP_URL__": true,
    "__MYSTORE_URL__": true,
    "__BOT_BUILDER_URL__": true,
    "__DEFAULT_PROFILE_IMAGE_ID__": true,
    "__CUSTOM_MENU_NOTICE_ID__": true,
    "__CUSTOM_MENU_GUIDE_URL__": true,
    "__SENTRY_DSN__": true,
    "__KAKAO_CORP_URL__": true,
    "__VERSION__": "readonly",
    "__GIT_BRANCH__": "readonly",
    "__GIT_LAST_COMMIT_DATETIME__": "readonly",
    "__GIT_LAST_COMMITTER": "readonly",
    "__SCHEME_KAKAO_TALK__": "readonly",
    "__PACKAGE_KAKAO_TALK__": "readonly",
    "__SCHEME_CHANNEL_MANAGER__": "readonly",
    "__PACKAGE_CHANNEL_MANAGER__": "readonly",
    "__INSTAGRAM_CLIENT_ID__": "readonly",
    "__YOUTUBE_CLIENT_ID__": "readonly",
    "__KAGE_SECURE_LINK_HOST__": true,
    "__SELLER_CENTER_URL__": "readonly",
    "BigInt": "readonly"
  }
}
